{% extends "ingest/base.html" %}

{% block content %}

<div class="login-page">
  <h1 style="text-align:center">Please sign in</h1>
  </br>
  <div class="form">
    <form method="post" class="login-form" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="text" name="username" required id="id_username" placeholder="username"/>
      <input type="password" name="password" required id="id_password" placeholder="password"/>
      <button type="submit">login</button>
      <p class="message"><a href="mailto:bil-support@psc.edu?Subject=Forgot%20password">Forgot your password?</a></p>
    </form>
  </div>
</div>

{% endblock %}
