.header {
    background-color: #161b33; /* dark blue */
    border-radius:0px;
    z-index: 99;
    position:fixed;
    width: 100%;
}

.navbar-header { 
    padding-left: 1em;
    padding-right: 1em;
}

.container-fluid {
    padding: 0;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

.fill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill > div {
  flex: 1;

  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* for the header that appears above the big buttons */
.big-button-header { 
    padding-top: 5em;
    text-align: center;
}

/* for the big buttons at the bottom of the main page */
.big-button { 
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 5em;
    line-height: 1.8;
    text-align: center;
    font-size: small;
}

.big-row-text {
    padding: 5em;
    line-height: 2;
    text-align: center;
    font-size: large;
}

.white_on_gray {
    background-color: #ffffff; /* white */
    color: #696969; /* dark gray */
}

.gray_on_med_blue {
    background-color: #474973; /* medium blue */
    color: #d1d2dc; /* light gray */
}

.gray_on_dark_blue {
    background-color: #161b33; /* dark blue */
    color: #d1d2dc; /* light gray */
}

.diagram {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 10em;
  padding-bottom: 10em;
}

h1, h2, h3, h4 {
    font-family: 'Lato';
    margin-top: 45px;
}

p {
    font-family: 'Montserrat';
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.fa-2x{font-size: 2em;}
.fa-3x{font-size: 3em;}
.fa-4x{font-size: 4em;}
.fa-5x{font-size: 5em;}

.panel-heading .chevron:after {
    content: "\f078";   
}
.panel-heading.collapsed .chevron:after {
    content: "\f054"; 
}  

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.dropdown input {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    height: 26px;
    text-align: left;
}

.dropdown .btn-link:hover {
    text-decoration: none;
    background-color: #e8e8e8;
}

/** SPINNER CREATION **/

.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  
  /** MODAL STYLING **/
  
.modal-content {
    border-radius: 0px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
  }
  
.modal-backdrop.show {
    opacity: 0.75;
  }
  
.loader-txt {
    p {
      font-size: 13px;
      color: #666;
      small {
        font-size: 11.5px;
        color: #999;
      }
    }
  }
  
#output {
    padding: 25px 15px;
    background: #222;
    border: 1px solid #222;
    max-width: 350px;
    margin: 35px auto;
    font-family: 'Roboto', sans-serif !important;
    p.subtle {
      color: #555;
      font-style: italic;
      font-family: 'Roboto', sans-serif !important;
    }
    h4 {
      font-weight: 300 !important;
      font-size: 1.1em;
      font-family: 'Roboto', sans-serif !important;
    }
    p {
      font-family: 'Roboto', sans-serif !important;
      font-size: 0.9em;
      b {
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
  }
