<head>
<script src="/static/ingest/addprojectusers.js"></script>
</head>
{% extends 'ingest/wide.html' %}
{% load bootstrap4 %} 
{% block wide %}
<form id="rowform">
<h1 name="project_id" id="project_id" value="{{ project.id }}">Add a user to your project named {{project.name}}</h1>
<p>Select checkboxes for each user to add them to the project</p>
<p>If the user you are looking for is not on this list, it may be because they have no logged into the Submission Portal, or they have not been added to the system. <a href="http://www.brainimagelibrary.org/submission.html">See Instructions</a>
{% csrf_token %}
<table id="usertable" class="table">
<thead>
<tr>
<th></th>
<th>Name</th>

</tr>
</thead>
<tbody>
{% for user in all_users %}
<tr data-user_id="{{user.id}}">
<td><input type="checkbox" id="user_is_checked"></td>
<td name="username" id="username">{{user.username}}</td>
<td>
</tr>
{% endfor %}
</table>
</form>
<button class="btn btn-primary" onclick="add_users();">Submit</button>
<hr>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>

{% endblock %}

