{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JB1L53FVNL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JB1L53FVNL');
</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="shortcut icon" type = "image/ico" href = "{% static 'images/favicon.ico'%}"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'ingest/style.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block scripts %}
  {% endblock %} 
    <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>

  </head>
  <header>
    <nav class="navbar navbar-inverse header">
      <div class="container-fluid header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
            <span class="icon-bar"></span>                        
          </button>
          <a href="/"><div class="navbar-brand">Brain Image Library </div><img src="{% static 'images/brainicon.png' %}" style="padding-top:10px;height:40px"/></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">New <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ingest:collection_create' %}">New Submission</a></li>
                <li><a href="{% url 'ingest:descriptive_metadata_upload' %}">Add Metadata</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">View <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ingest:collection_list' %}">Submissions</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Submit Publish Request <span class="caret">    </span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ingest:submit_request_collection_list' %}">Submit Publish Request</a></li>
              </ul>
            </li> 
          </ul>
          {% if request.user.username %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ request.user.username }}</a></li>
            <li><a href="{%url 'ingest:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{%url 'ingest:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up to Deposit Data</a></li>
            <li><a href="{%url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav> 
  </header>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
