{% extends 'ingest/base.html' %}

{% block content %}
{% if pi %}
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endif %}
<div class="content container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1><b>Collection Name</b> {{ collection.name }} 
        {% if collection.locked %}<i class="fa fa-lock"></i>
        {% else %}<i class="fa fa-unlock"></i>
        {% endif %}
      </h1>
    </div>
    <div class="col-md-6">
      <h1>
<!--
        <div class="dropdown" align="right">
          <button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if collection.locked %}
              <li class="dropdown-header">Collection</li>
              <li class="disabled"><a href="#">Validate</a></li>
              <li class="disabled"><a href="#">Submit</a></li>
              <li class="disabled"><a href="#">Edit</a></li>
              <li class="disabled"><a href="#">Delete</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Metadata</li>
              <li class="disabled"><a href="#">Upload to this Collection</a></li>
            {% else %}
              <li class="dropdown-header">Collection</li>
              {% if image_metadata_queryset %}
              <li>
                <form action="" method="post">{% csrf_token %}
                  <input type="submit" class="form-control btn btn-link" value="Validate" name="validate_collection">
                  <input type="submit" class="form-control btn btn-link" value="Submit" name="submit_collection" onclick="return confirm('If submission is successful, no further edits can be made. Are you sure?')"/>
                </form>
              </li>
              {% else %}
              <li class="disabled"><a href="#">Submit</a></li>
              {% endif %}
              <li><a href="{% url 'ingest:collection_update' pk=collection.pk %}">Edit</a></li>
              <li><a href="{% url 'ingest:collection_delete' pk=collection.pk %}">Delete</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Metadata</li>
              <li>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                  <input class="form-control btn btn-link"  id="UploadMetadata" value="Upload to this Collection" onclick="document.getElementById('file').click();" />
                  <input type="file" style="display:none;" id="file" name="spreadsheet_file" onchange="form.submit()" />
                </form>
              </li>
            {% endif %}
          </ul>
        </div>
       -->
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="list-group">
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Collection Description</h4> {{collection.description}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Organization</h4> {{collection.organization_name}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Lab</h4> {{collection.lab_name}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Project funder</h4> {{collection.project_funder}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Project funder ID</h4> {{collection.project_funder_id}}</a>
        <!--  
        <a href="{% url 'ingest:collection_data_path' pk=collection.pk %}" class="list-group-item"><h4 class="list-group-item-heading">Data staging area </h4> {{collection.data_path}} <i class="fa fa-link"></i></a>
        -->
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Data staging area </h4> {{collection.data_path}}</a>

        {% if collection.validation_status == "NOT_VALIDATED" %}
        <a href="{% url 'ingest:collection_validation_results' pk=collection.pk %}" class="list-group-item list-group-item-info"><h4 class="list-group-item-heading">Validation Status</h4> Not validated</a>
        {% elif collection.validation_status == "PENDING" %}
        <a href="{% url 'ingest:collection_validation_results' pk=collection.pk %}" class="list-group-item list-group-item-warning"><h4 class="list-group-item-heading">Validation Status</h4> Validation pending</a>
        {% elif collection.validation_status == "SUCCESS" %}
        <a href="{% url 'ingest:collection_validation_results' pk=collection.pk %}" class="list-group-item list-group-item-success"><h4 class="list-group-item-heading">Validation Status</h4> Validation successful. [Click to view validation log].</a>
        {% elif collection.validation_status == "FAILED" %}
        <a href="{% url 'ingest:collection_validation_results' pk=collection.pk %}" class="list-group-item list-group-item-danger"><h4 class="list-group-item-heading">Validation Status</h4> Validation failed. [Click to view validation log]</a>
        {% endif %}

        {% if collection.submission_status == "NOT_SUBMITTED" %}
        <a href="{% url 'ingest:collection_submission_results' pk=collection.pk %}" class="list-group-item list-group-item-info"><h4 class="list-group-item-heading">Submission Status</h4> Not submitted</a>
        {% elif collection.submission_status == "PENDING" %}
        <a href="{% url 'ingest:collection_submission_results' pk=collection.pk %}" class="list-group-item list-group-item-warning"><h4 class="list-group-item-heading">Submission Status</h4> Submition pending</a>
        {% elif collection.submission_status == "SUCCESS" %}
        <a href="{% url 'ingest:collection_submission_results' pk=collection.pk %}" class="list-group-item list-group-item-success"><h4 class="list-group-item-heading">Submission Status</h4> Submission successful. [Click to view submission log].</a>
        {% elif collection.submission_status == "FAILED" %}
        <a href="{% url 'ingest:collection_submission_results' pk=collection.pk %}" class="list-group-item list-group-item-danger"><h4 class="list-group-item-heading">Submission Status</h4> Submission failed. [Click to view submission log].</a>
        {% endif %}

      </div>

      {% if descriptive_metadata_queryset %}
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#collapseOrderMetadata"> Metadata <i class="chevron fa fa-fw" ></i></div>
          <div class="collapse in" id="collapseOrderMetadata">
            {% load render_table from django_tables2 %}
            {% render_table table %}
          </div>
        </div>
        {% if collection.locked %}
          <div class="alert alert-info">
            <strong>Submitted collections cannot be modified or deleted.</strong>
          </div>
        {% else %}
        <!--
          <div class="alert alert-info">
            <strong>If you are done editing metadata and your data is finished uploading, select "Submit Collection" at this time</strong>
          </div>
         -->
        {% endif %}
      {% else %}
        <div class="alert alert-info">
          <strong>This collection doesn't have any metadata yet.</strong>
        </div>
      {% endif %}

      <p>

      <table>
      <tr>           
      {% if descriptive_metadata_queryset %}
      <form action="" method="post">{% csrf_token %}
          <button type="submit" class="cancel btn btn-primary" value="Validate" name="validate_collection">Validate</button>
          &nbsp;
          <!--
          <button type="submit" class="cancel btn btn-primary" value="Submit" name="submit_collection" 
          onclick="return confirm('If submission is successful, no further edits can be made. Are you sure?')"/>Submit</button>
          -->
          &nbsp;
      </form>       
      {% endif %}

      <a href="{% url 'ingest:collection_update' pk=collection.pk %}">
        <button class="cancel btn btn-primary" value="ignore" formnovalidate="">Edit</button>
      </a>
          &nbsp;
      <a href="{% url 'ingest:collection_delete' pk=collection.pk %}">
        <button class="cancel btn btn-primary" value="ignore" formnovalidate="">Delete</button>
      </a>
          &nbsp;
      <a href="{% url 'ingest:collection_list' %}">
        <button class="cancel btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
      </a>
      </tr>
      </table>
      </p>
      <br><br>
      {% include 'ingest/messages.html' %}

    </div>
  </div>
</div>

{% endblock %}
