{% extends 'ingest/base.html' %}

{% block content %}
{% if pi %}

<style>
  .styled-checkbox-container .styled-checkbox {
      padding: 0 !important;
      margin-bottom: 5px !important;
  }
  
  .styled-checkbox-container .styled-checkbox input[type="checkbox"] {
      margin-right: 5px !important;
  }
  
  .styled-checkbox-container .styled-checkbox label {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
  }
  
  .styled-checkbox-container .styled-checkbox label input[type="checkbox"] {
      width: 16px;
      height: 16px;
  }
  
  .styled-checkbox-container .btn-primary {
      margin-top: 10px !important;
  }
</style>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endif %}
<div class="content container-fluid styled-checkbox-container">
  <div class="row">
    <div class="col-md-6">
      <h1><b>Submission Name</b> {{ collection.name }} 
        {% if collection.locked %}<i class="fa fa-lock"></i>
        {% else %}<i class="fa fa-unlock"></i>
        {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Submission Description</h4> {{collection.description}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Organization</h4> {{collection.organization_name}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Lab</h4> {{collection.lab_name}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Project funder</h4> {{collection.project_funder}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Project funder ID</h4> {{collection.project_funder_id}}</a>
        <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Data staging area </h4> {{collection.data_path}}</a>

        {% if collection.validation_status == "NOT_VALIDATED" %}
      <div class="list-group-item list-group-item-info"><h4 class="list-group-item-heading">Validation Status</h4> Not validated</div>
      {% elif collection.validation_status == "PENDING" %}
      <div class="list-group-item list-group-item-warning"><h4 class="list-group-item-heading">Validation Status</h4> Validation pending</div>
      {% elif collection.validation_status == "SUCCESS" %}
      <div class="list-group-item list-group-item-success"><h4 class="list-group-item-heading">Validation Status</h4> Validation successful.</div>
      {% elif collection.validation_status == "FAILED" %}
      <div class="list-group-item list-group-item-danger"><h4 class="list-group-item-heading">Validation Status</h4> Validation failed.</div>
      {% endif %}

      {% if collection.submission_status == "NOT_SUBMITTED" %}
      <div class="list-group-item list-group-item-info"><h4 class="list-group-item-heading">Submission Status</h4> Not submitted</div>
      {% elif collection.submission_status == "PENDING" %}
      <div class="list-group-item list-group-item-warning"><h4 class="list-group-item-heading">Submission Status</h4> Submission pending</div>
      {% elif collection.submission_status == "SUCCESS" %}
      <div class="list-group-item list-group-item-success"><h4 class="list-group-item-heading">Submission Status</h4> Submission successful.</div>
      {% elif collection.submission_status == "FAILED" %}
      <div class="list-group-item list-group-item-danger"><h4 class="list-group-item-heading">Submission Status</h4> Submission failed.</div>
      {% endif %}

      </div>

      {% if descriptive_metadata_queryset %}
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#collapseOrderMetadata"> Metadata <i class="chevron fa fa-fw"></i></div>
          <div class="collapse in" id="collapseOrderMetadata">
            {% load render_table from django_tables2 %}
            {% render_table table %}
          </div>
        </div>
        {% if collection.locked %}
          <div class="alert alert-info">
            <strong>Locked submissions cannot be modified or deleted.</strong>
          </div>
        {% endif %}
      {% else %}
        <div class="alert alert-info">
          <strong>This submission doesn't have any Metadata Version 1.</strong>
        </div>
      {% endif %}
      <div><a href="{% url 'ingest:ondemandSubmission' collection.id %}">
        <button class="btn btn-lg btn-primary" value="ignore" formnovalidate="">View Submission Directory</button>
      </a></div>
      <p>

      <table>
      <tr>           
      <a href="{% url 'ingest:collection_update' pk=collection.pk %}">
        <button class="cancel btn btn-primary" value="ignore" formnovalidate="">Edit</button>
      </a>
      &nbsp;
      <a href="{% url 'ingest:collection_list' %}">
        <button class="cancel btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
      </a>
      </tr>
      </table>
      </p>
      <br><br>

<!-- Form to add tags to all datasets -->
{% if datasets_list %}
<h2>Add Tags to All Datasets</h2>
<form id="add-tags-all-form" action="{% url 'ingest:add_tags_all' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="collection_id" value="{{ collection.id }}">
    <div class="row">
        {% for tag in consortium_tags %}
        <div class="col-md-3">
            <div class="checkbox styled-checkbox">
                <label>
                    <input type="checkbox" name="tag_text[]" value="{{ tag }}"> {{ tag }}
                </label>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary" type="submit" disabled>Add Tags to All</button>
</form>
      <!-- Existing code for individual dataset tags -->
      
        <h2>Add Tags to Individual Datasets</h2>
        {% for dataset in datasets_list %}
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#dataset-{{ dataset.id }}">
              {{ dataset.title }} <i class="chevron fa fa-fw"></i>
            </div>
            <div class="collapse" id="dataset-{{ dataset.id }}">
              <div class="panel-body">
                <p>{{ dataset.abstract }}</p>
                <form id="add-tags-form-{{ dataset.id }}" action="{% url 'ingest:add_tags' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="dataset_id" value="{{ dataset.id }}">
                  <div class="input-group">
                    {% for tag in consortium_tags %}
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="tag_text[]" value="{{ tag }}" {% if tag in dataset.tag_list %}disabled{% endif %}> {{ tag }}
                        </label>
                      </div>
                    {% endfor %}
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" onclick="addTags({{ dataset.id }})" disabled>Add Tags</button>
                    </span>
                  </div>
                </form>
                <ul id="tag-list-{{ dataset.id }}">
                  {% for tag in dataset.tags.all %}
                    <li id="tag-{{ tag.id }}">
                      {{ tag.tag }}
                      <form id="delete-tag-form-{{ tag.id }}" data-url="{% url 'ingest:delete_tag' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="tag_id" value="{{ tag.id }}">
                        <button type="button" class="btn btn-danger btn-xs" onclick="deleteTag({{ tag.id }})">Delete</button>
                      </form>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
{% endif %}

      {% include 'ingest/new_metadata_sheet.html' %}
      {% include 'ingest/messages.html' %}

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var isSubmitting = false;

    // Disable the "Add Tags to All" button if no checkboxes are selected
    $('#add-tags-all-form input[type="checkbox"]').on('change', function() {
        var anyChecked = $('#add-tags-all-form input[type="checkbox"]:checked').length > 0;
        $('#add-tags-all-form button[type="submit"]').prop('disabled', !anyChecked);
    });

    // Disable "Add Tags" buttons on individual datasets if no checkboxes are selected
    $('form[id^="add-tags-form-"] input[type="checkbox"]').on('change', function() {
        var formId = $(this).closest('form').attr('id');
        var anyChecked = $('#' + formId + ' input[type="checkbox"]:checked').length > 0;
        $('#' + formId + ' button[type="button"]').prop('disabled', !anyChecked);
    });

    // Existing form submission handling
    $('#add-tags-all-form').on('submit', function(event) {
        event.preventDefault();

        if (isSubmitting) {
            return false;
        }

        var confirmed = confirm('Are you sure you want to add these tags to all datasets? Removing tags will need to be done on datasets individually.');
        if (!confirmed) {
            return;
        }

        isSubmitting = true;
        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: 'POST',
            url: url,
            data: form.serialize(),
            success: function(response) {
                isSubmitting = false;

                if (response.status === 'success') {
                    // Iterate through the updated tags for each dataset
                    $.each(response.updated_tags, function(datasetId, tags) {
                        var tagList = $('#tag-list-' + datasetId);
                        tagList.empty();  // Clear existing tags

                        // Append each tag to the dataset's tag list
                        tags.forEach(function(tag) {
                            var tagHtml = '<li id="tag-' + tag.id + '">' + tag.text + 
                                          ' <form id="delete-tag-form-' + tag.id + '" data-url="' + tag.url + '" method="post" style="display:inline;">' + 
                                          '{% csrf_token %}' +
                                          '<input type="hidden" name="tag_id" value="' + tag.id + '">' +
                                          '<button type="button" class="btn btn-danger btn-xs" onclick="deleteTag(' + tag.id + ')">Delete</button>' +
                                          '</form></li>';
                            tagList.append(tagHtml);
                        });

                        // Dynamically attach deleteTag() to each delete button
                        tags.forEach(function(tag) {
                            $('#delete-tag-form-' + tag.id).off('click').on('click', function() {
                                deleteTag(tag.id);
                            });
                        });

                        // Disable the added tags in the individual forms
                        tags.forEach(function(tag) {
                            $('#add-tags-form-' + datasetId + ' input[type="checkbox"][value="' + tag.text + '"]').prop('disabled', true);
                        });
                    });

                    // Uncheck all checkboxes and disable the "Add Tags to All" button
                    form.find('input[type="checkbox"]:checked').prop('checked', false);
                    $('#add-tags-all-form button[type="submit"]').prop('disabled', true);

                } else {
                    alert(response.message);
                }
            },
            error: function(response) {
                isSubmitting = false;
                alert('An error occurred while adding tags.');
            }
        });
    });
});

// Same logic for individual datasets' tag forms
function addTags(datasetId) {
    var form = $('#add-tags-form-' + datasetId);
    var url = form.attr('action');
    $.ajax({
        type: 'POST',
        url: url,
        data: form.serialize(),
        success: function(response) {
            if (response.status === 'success') {
                var tagList = $('#tag-list-' + datasetId);
                tagList.empty();  // Clear existing tags
                response.tags.forEach(function(tag) {
                    var tagHtml = '<li id="tag-' + tag.id + '">' + tag.text + 
                                  ' <form id="delete-tag-form-' + tag.id + '" data-url="' + tag.url + '" method="post" style="display:inline;">' + 
                                  '{% csrf_token %}' +
                                  '<input type="hidden" name="tag_id" value="' + tag.id + '">' +
                                  '<button type="button" class="btn btn-danger btn-xs" onclick="deleteTag(' + tag.id + ')">Delete</button>' +
                                  '</form></li>';
                    tagList.append(tagHtml);
                });

                // Disable the added tags in the form
                form.find('input[type="checkbox"]').each(function() {
                    var tagValue = $(this).val();
                    if (response.tags.some(tag => tag.text === tagValue)) {
                        $(this).prop('disabled', true);
                    }
                });

                form.find('input[type="checkbox"]:checked').prop('checked', false);
                form.find('button[type="button"]').prop('disabled', true);  // Disable button after submission
            } else {
                alert(response.message);
            }
        },
        error: function(response) {
            alert('An error occurred while adding tags.');
        }
    });
}

function deleteTag(tagId) {
    var form = $('#delete-tag-form-' + tagId);
    var url = form.data('url'); // Get the URL from the data attribute

    $.ajax({
        type: 'POST',
        url: url, // Use the URL from the form
        data: form.serialize(),
        success: function(response) {
            if (response.status === 'success') {
                var tagText = response.tag_text.trim();
                $('#tag-' + tagId).remove();

                // Enable the tag in the checkbox list again
                var checkbox = $('input[type="checkbox"][value="' + tagText + '"]');
                if (checkbox.length) {
                    checkbox.prop('disabled', false);
                }
            } else {
                alert(response.message);
            }
        },
        error: function(response) {
            alert('An error occurred while deleting the tag.');
        }
    });
}

</script>

{% endblock %}
