{% extends 'ingest/wide.html' %}

{% block wide %}
<form action="" method="post">{% csrf_token %}
  <h3>Are you sure you want to delete "{{ collection }}"?</h3>
  <p><strong>Warning: Deleting a collection will delete ALL metadata associated with it.</strong></p>
  <input class="confirm btn btn-primary" type="submit" value="Confirm"/>
</form>
</br>
<a href="{% url 'ingest:collection_list' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>
{% endblock %}

