{% extends 'ingest/narrow.html' %}

{% block narrow %}


<datalist id="funder_list">
  {% for funder in funder_list  %}
  <option value="{{ funder }}">
  {% endfor %}
</datalist>

<h1>Create Collection</h1>
<form method="POST" class="post-form">
{% csrf_token %}
  {% for field in form  %}
    <p data-toggle="tooltip" title="{{field.help_text}}">
      {{ field.label_tag }} {% if field.field.required %} <span style='color:red'>*</span> {% endif %}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <div class="alert alert-info">
    Once the collection is created, a staging area for it will be created
    at:</br>
    <strong>{{host_and_path}}</strong>
  </div>
  <p>Required fields are marked with an *.</p>
  <p>Uploading with rsync, scp, or globus? Click <a href="http://www.brainimagelibrary.org/submission.html">here</a> for help.</p>
  <button type="submit" class="save btn btn-lg btn-primary">Save</button>

</form>

<a href="{% url 'ingest:index' %}">
   <button class="cancel btn btn-lg btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>
{% endblock %}
