{% extends 'ingest/wide.html' %}

{% block wide %}


<datalist id="funder_list">
  {% for funder in funder_list  %}
  <option value="{{ funder }}">
  {% endfor %}
</datalist>
{% if pi %}
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endif %}
<br>

<h1>New Collection</h1>
<form method="POST" class="post-form">
{% csrf_token %}
  {% for field in form  %}
    <p data-toggle="tooltip" title="{{field.help_text}}">
      {{ field.label_tag }} {% if field.field.required %} <span style='color:red'>*</span> {% endif %}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <div class="alert alert-info">
    Once the collection is created, a data staging area will be assigned. The path to the data staging area will be 
    shown for the collection after you click on the "Save" button below.
    </br>
    <!-- <strong>{{host_and_path}}</strong> -->
  </div>
  <p><b>Required fields are marked with an <span style='color:red'>*</span>.</b></p>
  <!--
  <p>Uploading with rsync, scp, or globus? Click <a href="http://www.brainimagelibrary.org/submission.html">here</a> for help.</p>
  -->
  <button type="submit" class="save btn btn-lg btn-primary">Save</button>

</form>

<a href="{% url 'ingest:index' %}">
   <button class="cancel btn btn-lg btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>
{% endblock %}
