{% if contributors %}
<div class="table-responsive">
  <table id="tbl-contributors" class="bil-detail-table">
    <thead>
      <tr>
        <th>contributorName</th>
        <th>Creator</th>
        <th>contributorType</th>
        <th>nameType</th>
        <th>nameIdentifier</th>
        <th>nameIdentifierScheme</th>
        <th>affiliation</th>
        <th>affiliationIdentifier</th>
        <th>affiliationIdentifierScheme</th>
      </tr>
    </thead>
    <tbody>
      {% for c in contributors %}
      <tr>
        <td>{{ c.contributorname }}</td>
        <td>{{ c.creator }}</td>
        <td>{{ c.contributortype }}</td>
        <td>{{ c.nametype }}</td>
        <td>{{ c.nameidentifier }}</td>
        <td>{{ c.nameidentifierscheme }}</td>
        <td>{{ c.affiliation }}</td>
        <td>{{ c.affiliationidentifier }}</td>
        <td>{{ c.affiliationidentifierscheme }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="bil-notice-info">
  <i class="fa-solid fa-circle-info fa-xs"></i>
  <span>No Contributor data is associated with this metadata sheet.</span>
</div>
{% endif %}
