{% extends 'ingest/base.html' %}

{% block content %}

<h2>Upload Brain Image Data</h2>

<p>In order to upload your confocal microscopy images to the Brain Image Library (BIL), the following steps need to be completed:</p>
<ul>
  <li>Create an account on the <a href="{% url 'ingest:signup' %}"> BIL's metadata submission site</a>.</li>
  <li>This will trigger a process to begin creating an account on the BIL's HPC storage and compute resource.</li>
  <li>You will receive an email from grants@psc.edu telling you to create a password at apr.psc.edu</li>
  <li>Once your account on BIL's HPC storage and compute resource is created, you can <a href="{% url 'ingest:image_data_dirs_list' %}">request staging area where your image data can be uploaded</a>.</li>
</ul>

{% endblock %}
