<head>
  <script src="/static/ingest/metadataloadingindicator.js"></script>
</head>

{% extends 'ingest/wide.html' %}

{% block wide %}
{% load static %}


{% if pi %}
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endif %}

<br>
<h1>Upload Metadata Spreadsheet</h1>
<h3>Please note that BIL has adopted a new metadata schema. Please use the template provided below.</h3>
<form method="post" enctype="multipart/form-data">
{% include 'ingest/metadata_questions.html' %}

<h3>Step 3 of 3: Upload metdata for associated submission</h3>
{% if collections %}
<ul class="list-group">
  <li class="list-group-item">Download and fill out either the <a href="{% static 'ingest/BILMetadataV2Template.xlsx' %}">Excel</a> or <a href="{% static '/ingest/BILMetadataV2Template.ods' %}">LibreOffice Calc</a> template. </li>
  <li class="list-group-item">Choose a collection, then upload your metadata.</li>.
  <p> If the project you are looking for is not in this list, it must be added by the PI of your project. </p>
</ul>

  <hr>

  
    {% csrf_token %}
    {{ form }}
    </br>

    </br>
    <input type="button" class="btn btn-lg btn-primary" id="UploadMetadata" value="Upload Metadata" onclick="document.getElementById('file').click();" />
    
    <input type="file" style="display:none;" id="file" name="spreadsheet_file" onchange="form.submit();loadSpinner();document.querySelector('input[name="ingest_method"]:checked').value;" />
    </br>
  </form>
{% else %}
  <div class="alert alert-info">
    <p>You need to create a submission before uploading a metadata spreadsheet</p>
  </div>
{% endif %}

</br>
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn-lg btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>

<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loader"></div>
        <div clas="loader-txt">
          <p>Please wait while we upload your metadata!<br><br><small>Thanks very much for your patience.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
