{% if funders %}
<div class="table-responsive">
  <table id="tbl-funders" class="bil-detail-table">
    <thead>
      <tr>
        <th>funderName</th>
        <th>fundingReferenceIdentifier</th>
        <th>fundingReferenceIdentifierType</th>
        <th>awardNumber</th>
        <th>awardTitle</th>
      </tr>
    </thead>
    <tbody>
      {% for f in funders %}
      <tr>
        <td>{{ f.fundername }}</td>
        <td>{{ f.funding_reference_identifier }}</td>
        <td>{{ f.funding_reference_identifier_type }}</td>
        <td>{{ f.award_number }}</td>
        <td>{{ f.award_title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="bil-notice-info">
  <i class="fa-solid fa-circle-info fa-xs"></i>
  <span>No Funder data is associated with this metadata sheet.</span>
</div>
{% endif %}
