{% if funders %}
<h3>Funders</h3>

  <table class="table">    								
    <thead>
    <tr>
    <th>funderName</th>
    <th>fundingReferenceIdentifier</th>
    <th>fundingReferenceIdentifierType</th>
    <th>awardNumber</th>
    <th>awardTitle</th>
    </tr>
    </thead>
    <tbody>
    {% for f in funders %}
    <tr>
    <td>{{ f.fundername }}</td>
    <td>{{ f.fundingreferenceidentifier }}</td>
    <td>{{ f.fundingreferenceidentifiertype }}</td>
    <td>{{ f.awardnumber }}</td>
    <td>{{ f.awardtitle }}</td>
    </tr>
    {% endfor %}
  </table>
  
{% else %}
  <div class="alert alert-info">
    <p>There is not Funder data associated with this dataset. Please contact BIL Support if this is incorrect.</p>
  </div>
{% endif %}
