{% extends 'ingest/narrow.html' %}

{% block narrow %}
<h1><b>Image Metadata</b> {{ image_metadata.project_name }}</h1>
  <div class="list-group">
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Project description</h4> {{image_metadata.project_description}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Background strain</h4> {{image_metadata.background_strain}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Image filename pattern</h4> {{image_metadata.image_filename_pattern}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Locked</h4> {{image_metadata.locked}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Taxonomy Name</h4> {{image_metadata.taxonomy_name}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Transgenic Line Name</h4> {{image_metadata.transgenic_line_name}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Age</h4> {{image_metadata.age}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Age Unit</h4> {{image_metadata.age_unit}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Sex</h4> {{image_metadata.sex}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Organ</h4> {{image_metadata.organ}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Organ Substructure</h4> {{image_metadata.organ_substructure}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Assay</h4> {{image_metadata.assay}}</a>
    <a href="#" class="list-group-item"><h4 class="list-group-item-heading">Slicing Direction</h4> {{image_metadata.slicing_direction}}</a>
  </div>
{% if image_metadata.locked %}
  <p></p>
  <div class="alert alert-info">
      <strong>Submitted metadata cannot be modified or deleted.</strong>
  </div>
{% else %}
  <div class='btn-group btn-group-lg'>
      <a class="save btn btn-primary" href="{% url 'ingest:image_metadata_update' pk=image_metadata.pk %}">Edit Metadata</a>
      <a class="save btn btn-primary" href="{% url 'ingest:image_metadata_delete' pk=image_metadata.pk %}">Delete Metadata</a>
  </div>

  </br>
  </br>
    <a href="{% url 'ingest:image_metadata_list' %}">
      <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
    </a>

{% endif %}
{% endblock %}
