{% extends 'ingest/narrow.html' %}

{% block narrow %}
  <h1>{{ image_metadata.project_name }}</h1>
  <ul>
    <li>Project description: {{image_metadata.project_description}}</li>
    <li>Background strain: {{image_metadata.background_strain}}</li>
    <li>Image filename pattern: {{image_metadata.image_filename_pattern}}</li>
    <li>Locked: {{image_metadata.locked}}</li>
    <li>Taxonomy Name: {{image_metadata.taxonomy_name}}</li>
    <li>Transgenic Line Name: {{image_metadata.transgenic_line_name}}</li>
    <li>Age: {{image_metadata.age}}</li>
    <li>Age Unit: {{image_metadata.age_unit}}</li>
    <li>Sex: {{image_metadata.sex_name}}</li>
    <li>Organ: {{image_metadata.organ}}</li>
    <li>Organ Substructure: {{image_metadata.organ_substructure}}</li>
    <li>Assay: {{image_metadata.assay}}</li>
    <li>Slicing Direction: {{image_metadata.slicing_direction}}</li>
  </ul>
<div class='btn-group btn-group-lg'>
    <a class="save btn btn-primary" href="{% url 'ingest:image_metadata_update' pk=image_metadata.pk %}">Edit Metadata</a>
    <a class="save btn btn-primary" href="{% url 'ingest:image_metadata_delete' pk=image_metadata.pk %}">Delete Metadata</a>
</div>
{% endblock %}
