{% extends 'ingest/wide.html' %}

{% block wide %}


  <script language="JavaScript">
  function toggle(source) {
      checkboxes = document.getElementsByName('selection');
      for(var i in checkboxes)
          checkboxes[i].checked = source.checked;
  }
  </script>

  <h2>Your Metadata</h1>
  {% if image_metadata %}
    <form action="" method="post">{% csrf_token %}
        {% load render_table from django_tables2 %}
        {% render_table table %}
        <div class='btn-group btn-group-lg'>
        <button type="submit" class="save btn btn-lg btn-primary">Delete Selected</button>
        </div>
    </form>
  {% else %}
    <div class="alert alert-info">
      <p>You haven't created any metadata yet.</p>
    </div>
  {% endif %}
  <hr>
  <a href="{% url 'ingest:image_metadata_submit' %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> Create Metadata
  </a>
  </br>
  </br>
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>
{% endblock %}
