{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'ingest/style.css' %}" />
  </head>
  <body>

    <div class="page-header">
      <h1>Brain Image Library</h1>
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <h2>List of Metadata</h1>

          {% if latest_metadata_list %}
              <ul>
              {% for metadata in latest_metadata_list %}
                  <li><a href="{% url 'ingest:detail' metadata.id %}">{{ metadata.organization_name }}</a></li>
              {% endfor %}
              </ul>
              <a href="{% url 'ingest:post_new' %}">Create new metadata</a>
          {% else %}
              <p>No projects are available.</p>
          {% endif %}

          </br>
          {% if request.user.username %}
            {{ request.user.username }} <a href="{%url 'ingest:logout' %}">logout</a>
          {% else %}
          <a href="{%url 'ingest:login' %}">login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
