{% extends 'ingest/base.html' %}

{% block content %}

<h2>Overview</h2>

<p>The Brain Image Library (BIL) is a national public resource enabling
researchers to deposit, analyze, mine, share and interact with large brain
image datasets.</p>

<h2>Collections</h2>

<p>Imaging datasets in the Brain Image Library have metadata associated with
them. This metadata includes everything from experimental information to the
layout of the files. The combination of metadata and datasets make up what we
call a collection. Collections are ultimately what gets submitted for
publication in the BIL and made publically available to the research
community.</p>

<hr>

{% if request.user.username %}
<h3>Submitting to the Brain Image Library</h3>
  <ul>
    <li><a href="{% url 'ingest:submit_image_metadata' %}">Create New Metadata</a></li>
    <li><a href="{% url 'ingest:create_image_upload_area' %}">Request Storage Area for Image Data</a></li>
    <li><a href="{% url 'ingest:submit_collection' %}">Create New Collection
  </ul>
  <hr>
  <ul>
    <li><a href="{% url 'ingest:image_metadata_list' %}">View Metadata List</a></li>
    <li><a href="{% url 'ingest:collection_list'  %}">View Collection List</a></li>
  </ul>
{% else %}
  <p>Please <a href="{% url 'login' %}">
  log in</a> to begin creating collections for publication in the BIL.</p>
{% endif %}

{% endblock %}
