{% extends 'ingest/wide.html' %}
{% load bootstrap4 %}
{% block wide %}

<script src="/static/ingest/addfunding.js"></script>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>

<br>
<h1>Manage Funding</h1>
<p>Add a grant to associate with a project</p>

<hr>
<table id="AddFundingTable" class="table">
<thead>
<tr>
<th>Project</th>
<th>Funder Name</th>
<th>Reference Identifier (for NIH Projects)</th>
<th>Reference Identifier Type</th>
<th>Award Number (for NIH Projects)</th>
<th>Award Title (for NIH Projects)</th>
</tr>
</thead>
<form id="addfunding">
{% csrf_token %}
<tbody>
<tr>
 <td><select name="project" id="project">
    {% for p in projects %}
        <option value="{{p.id}}">{{p.name}}</option>
    {% endfor %}
 </select></td>
 <td><input type="text" name="funder_name" id="funder_name" placeholder="Name of the funder"></td>
 <td><input type="text" name="funder_ref_id" id="funder_ref_id" placeholder="e.g. ROR" title="Uniquely identifies an individual or legal entity. Preferred identifier is the Research Organization Registry (ROR)"></td>
 <td><input type="text" name="funder_ref_type" id="funder_ref_type" placeholder="e.g. ORCID, ISNI, ROR" title="Identifying scheme used in nameidentifier (CV: ORCID, ISNI, ROR, GRID)"></td>
 <td><input type="text" name="funder_award_num" id="funder_award_num" placeholder="Funders code" title="Funders code assigned to the grant"></td>
 <td><input type="text" name="funder_award_title" id="funder_award_title" placeholder="Title of the grant award"></td>
</tr>
</table>

<button type="submit" class="save btn btn-lg btn-primary" onclick="create_funding();">Save</button>
</form>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>

{% endblock %}

