{% extends 'ingest/wide.html' %}
{% load bootstrap4 %}
{% block wide %}

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
<br>
<h1>All Project Submissions</h1>

<table class="table">
<thead>
<tr>
<th>Name </th>
<th>Project Name</th>
<th>Submitter</th>
<th>Organization Lab </th>
<th>Lab Name </th>
<th>Locked </th>
<th>Submission Status </th>
<th>Validation Status </th>
<th>Modality </th>
<th>View Details</th>
</tr>
</thead>
<tbody>
{% for collection in collections %}
<tr>

<td>{{ collection.name}} </td>
<td>{{ collection.project.name }}</td>
<td>{{ collection.user.username}} </td>
<td>{{ collection.organization_name}} </td>
<td>{{ collection.lab_name}} </td>
<td>{{ collection.locked}} </td>
<td>{{ collection.submission_status}} </td>
<td>{{ collection.validation_status}} </td>
<td>{{ collection.modality}} </td>

<td><a href="{% url 'ingest:collection_detail' collection.id %}">View</td>
</tr>
{% endfor %}
</table>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endblock %}

