{% extends 'ingest/wide.html' %}
{% load bootstrap4 %}


<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% block wide %}

<h1>All Project Collections</h1>

<table class="table">
<thead>
<tr>
<th>Name </th>
<th>Description </th>
<th>Project Name</th>
<th>Organization Lab </th>
<th>Lab Name </th>
<th>Project Funder ID </th>
<th>Project Funder </th>
<th>BIL Uuid </th>
<th>Data Path </th>
<th>Locked </th>
<th>Submission Status </th>
<th>Validation Status </th>
<th>Modality </th>
<th>Collection Type </th>
<th>Events Log</th>
</tr>
</thead>
<tbody>
{% for project in allprojectpeople %}
<tr>

<td>{{project.collection.name}} </td>
<td>{{project.collection.description}} </td>
<td>{{project.proj_name}}</td>
<td>{{project.collection.organization_name}} </td>
<td>{{project.collection.lab_name}} </td>
<td>{{project.collection.project_funder_id}} </td>
<td>{{project.collection.project_funder}} </td>
<td>{{project.collection.bil_uuid}} </td>
<td>{{project.collection.data_path}} </td>
<td>{{project.collection.locked}} </td>
<td>{{project.collection.submission_status}} </td>
<td>{{project.collection.validation_status}} </td>
<td>{{project.collection.modality}} </td>
<td>{{project.collection.collection_type}} </td>
<td>{{project.collection.event_type}} </td>
</tr>
{% endfor %}
</table>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endblock %}

