{% extends 'ingest/wide.html' %}
{% load bootstrap4 %}
{% block wide %}

<a href="{% url 'ingest:project_form' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Create a New Project</button>
</a>
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>

<br>
<h1>Manage Projects</h1>
<p>Select a project to view details including submissions and users associated with it</p>

<table id="ProjectTable" class="table">
<thead>
<tr>
<th>Name</th>
<th>Funded By</th>
<th>Consortia Affiliation</th>
<th>Personnel</th>
<th>Submissions</th>
</tr>
</thead>
<tbody>
{% for project in allprojects %}
<tr>
 <td>{{ project.name }}</td>
 <td>{{ project.funded_by }}</td>
 <td>{{ project.short_names }}</td>

 <td><a href="{% url 'ingest:view_project_people' project.id %}">View Personnel</td>
 <td><a href="{% url 'ingest:view_project_collections' project.id %}">View Submissions</td>
</tr>
{% endfor %}
</table>

<hr>

<a href="{% url 'ingest:project_form' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Create a New Project</button>
</a>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>

{% endblock %}

