{% if datasets_list %}
<div class="table-responsive">
  <table id="tbl-v2" class="bil-data-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Submission</th>
        <th>BIL Directory</th>
        <th>Uploaded Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for d in datasets_list %}
      <tr>
        <td style="font-weight:600;color:#161b33;">{{ d.title }}</td>
        <td>{{ d.sheet.collection }}</td>
        <td><span class="bil-code">{{ d.bildirectory }}</span></td>
        <td><span class="bil-code">{{ d.sheet.date_uploaded }}</span></td>
        <td>
          <a href="{% url 'ingest:new_metadata_detail' d.sheet_id %}" class="bil-icon-btn" title="View detail">
            <i class="fa-solid fa-arrow-right fa-xs"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="bil-notice-info" style="margin: 1.1rem 1.25rem;">
  <i class="fa-solid fa-circle-info fa-xs"></i>
  <span>You haven't uploaded any V2 metadata yet.</span>
</div>
{% endif %}
