{% extends 'ingest/base.html' %}
{% block content %}
{% load bootstrap4 %}

<h1>Users on your projects</h1>
<p>This is a list of all users associated with your projects</p>
<table id="people_of_pi" class="table">
<thead>
<tr>
<th>Username</th>
<th>Active?</th>
</tr>
</thead>
<tbody>
{% for user in allusers %}
<tr>
<td>{{user.username}}</td>
<td>{{user.is_active}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endblock %}
