{% extends 'ingest/base.html' %}
{% block content %}
{% load bootstrap4 %}

<h1>Users on your projects</h1>
<p>This is a list of all users associated with your projects</p>
<table id="projects" class="table">
<thead>
    {% for project in pi_projects %}
    <tr>
    <th style="font-size: 24px; text-decoration: underline overline;">{{project.this_project.name}}</th>
        <table id="people_of_pi" class="table" style="padding-bottom:10px;">
            <thead>
            <tr>
            <th>Username</th>
            <th>Active?</th>
            </tr>
            </thead>
            {% for people in project_people %}
            <tbody style="padding-bottom:10px;">
                <tr>
                <td>{{people.this_user.username}}</td>
                <td>{{people.this_user.is_active}}</td>
                </tr>
            </tbody>
           {% endfor %}
    {% endfor %}
</thead>
</table>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endblock %}
