{% extends 'ingest/base.html' %}
{% block content %}
{% load bootstrap4 %}
<head>
<script src="/static/ingest/createproject.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>$(document).ready(function(){$('table').find('select').on('change', function() {$(this).addClass('modified');});})</script>
</head>

<h1>Create a new project</h1>

<form id="CreateNewProject">
{% csrf_token %}

  <label for="name">Project Name:</label>
  <input type="text" id="name" name="name">

  <select  name="is_biccn" id="is_biccn">
    <option value="True"> True </option>
    <option value="False"> False </option>
  </select>
  <label for="funded_by">Funded By:</label>
  <input type="text" id="funded_by" name="funded_by">
</form>
<button class="btn btn-primary" onclick="submit_new_project();">Submit New Project</button>
<hr>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>
{% endblock %}
