{% if publications %}
<div class="table-responsive">
  <table id="tbl-publications" class="bil-detail-table">
    <thead>
      <tr>
        <th>relatedIdentifier</th>
        <th>relatedIdentifierType</th>
        <th>PMCID</th>
        <th>citation</th>
      </tr>
    </thead>
    <tbody>
      {% for p in publications %}
      <tr>
        <td>{{ p.relatedidentifier }}</td>
        <td>{{ p.relatedidentifiertype }}</td>
        <td>{{ p.pmcid }}</td>
        <td>{{ p.citation }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="bil-notice-info">
  <i class="fa-solid fa-circle-info fa-xs"></i>
  <span>No Publication data is associated with this metadata sheet.</span>
</div>
{% endif %}
