{% extends 'ingest/narrow.html' %}

{% block narrow %}

<h2>Sign up</h2>

<p>To deposit data an account will need to be created on our machines. To
request an account, please send an email message to 
<a href="mailto:bil-support@psc.edu?Subject=BIL%20account%20creation">bil-support@psc.edu</a> with the following
information:</p>

<div class="list-group">
  <div class="list-group-item">First and last name</div>
  <div class="list-group-item">Institution</div>
  <div class="list-group-item">Mailing Address</div>
  <div class="list-group-item">Current email address (plus an alternate if available)</div>
  <div class="list-group-item">Telephone number</div>
  <div class="list-group-item">Preferred login name (at least 2 and no more than 8 characters, lowercase letters and numbers only)</div>
  <div class="list-group-item">The BICCN or BRAIN initiative project you are associated with.</div>
  <div class="list-group-item">Your academic (or other) status (e.g. Faculty, Research Staff, Postdoctorate, Graduate Student, Undergraduate Student, Government, Nonprofit, Industry)</div>
</div>


<p>After your account is created, you will receive an email regarding your
account and how to set the initial password on it through 
<a href="https://apr.psc.edu">https://apr.psc.edu</a>. Instructions on password
policies and how to set or change your password.</p>

{% endblock %}
