{% extends 'ingest/wide.html' %}

{% block wide %}

<h2>Sign Up to Deposit Data</h2>


<p>To deposit data in the Brain Image Library (BIL), a depositor account will need to be 
created. There is no charge for creating this account or depositing data into the 
Brain Image Library. To create a depositor account, first create an account on the
<a href="https://portal.xsede.org/">XSEDE portal (portal.xsede.org)</a>.
Next, send an email message to 
<a href="mailto:bil-support@psc.edu?Subject=BIL%20account%20creation">bil-support@psc.edu</a>
requesting that a BIL depositor account be set up along with the following information:</p>

<div class="list-group">
  <div class="list-group-item">Your XSEDE portal account</div>
  <div class="list-group-item">If your project received funding from any agency (e.g. The NIH BRAIN Initiative), the project 
  you are associated with including the agency funding identifier and the name of the PI.</div>
</div>

<p>After your account is created, you will receive an email regarding your
account and how to set the initial password on it through 
<a href="https://apr.psc.edu">https://apr.psc.edu</a> along with instructions on password
policies and how to set or change your password.</p>

<p>BIL provides data depositors with helpdesk support that includes phone and 
email to resolve problems and questions. The helpdesk can assist users with all 
aspects of data submission, including the preparation of data in the proper 
submission format, uploading initial data sets and revisions, resolving networking 
issues, and tracking the status of their submitted data. To access this service, 
send email to bil-support@psc.edu or call 412-268-6350.
</p>


{% endblock %}
