{% if specimens %}
<div class="table-responsive">
  <table id="tbl-specimens" class="bil-detail-table">
    <thead>
      <tr>
        <th>LocalID</th>
        <th>Species</th>
        <th>NCBITaxonomy</th>
        <th>Age</th>
        <th>Ageunit</th>
        <th>Sex</th>
        <th>Genotype</th>
        <th>OrganLocalID</th>
        <th>OrganName</th>
        <th>SampleLocalID</th>
        <th>Atlas</th>
        <th>Locations</th>
      </tr>
    </thead>
    <tbody>
      {% for s in specimens %}
      <tr>
        <td>{{ s.localid }}</td>
        <td>{{ s.species }}</td>
        <td>{{ s.ncbitaxonomy }}</td>
        <td>{{ s.age }}</td>
        <td>{{ s.ageunit }}</td>
        <td>{{ s.sex }}</td>
        <td>{{ s.genotype }}</td>
        <td>{{ s.organlocalid }}</td>
        <td>{{ s.organname }}</td>
        <td>{{ s.samplelocalid }}</td>
        <td>{{ s.atlas }}</td>
        <td>{{ s.locations }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="bil-notice-info">
  <i class="fa-solid fa-circle-info fa-xs"></i>
  <span>No Specimen data is associated with this metadata sheet.</span>
</div>
{% endif %}
