{% extends 'ingest/wide.html' %}
{% load bootstrap4 %} 

{% block wide %}
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endif %}
<br>
<h1>Validate Submissions</h1>

{% if collections %}
  {% load render_table from django_tables2 %}
  {% render_table table %} 
{% else %}
  <div class="alert alert-info">
    <p>You haven't created any submissions yet.</p>
  </div>
{% endif %}

<hr>

<a href="{% url 'ingest:collection_create' %}" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus"></span> Create Submission
</a>

<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Cancel</button>
</a>

{% endblock %}

