{% extends 'ingest/base.html' %}

{% load static %}

{% block content %}

  <h1>Upload Metadata</h1>
  <p>Upload your metadata as a spreadsheet in xls or xlsx format.</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="button" class="btn btn-primary" id="UploadMetadata" value="Upload Metadata" onclick="document.getElementById('file').click();" />
    <input type="file" style="display:none;" id="file" name="myfile" onchange="form.submit()" />
    </br>
  </form>

  </br>

  {% if uploaded_file_url %}
    <!--<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->
    <p>File uploaded</p>
  {% endif %}

  <p>A template is available here for download: <a href="{% static 'ingest/metadata_template.xls' %}">metadata_template.xls</a></p>

{% endblock %}
