{% extends 'ingest/wide.html' %}
{% load bootstrap4 %} 
{% block wide %}
<h1>Collections for Project: {{ project.name }}</h1>

<table class="table">
<thead>
<tr>
<th>Name </th>
<th>Description </th>
<th>Submitter </th>
<th>Organization Lab </th>
<th>Lab Name </th>
<th>Project Funder ID </th>
<th>Project Funder </th>
<th>BIL Uuid </th>
<th>Data Path </th>
<th>Locked </th>
<th>Submission Status </th>
<th>Validation Status </th>
<th>Modality </th>
<th>Collection Type </th>
<th>Events Log </th>
</tr>
</thead>
<tbody>
{% for collection in project_collections %}
<tr>

<td>{{ collection.name}} </td>
<td>{{ collection.description}} </td>
<td>{{ collection.owner.username}} </td>
<td>{{ collection.organization_name}} </td>
<td>{{ collection.lab_name}} </td>
<td>{{ collection.project_funder_id}} </td>
<td>{{ collection.project_funder}} </td>
<td>{{ collection.bil_uuid}} </td>
<td>{{ collection.data_path}} </td>
<td>{{ collection.locked}} </td>
<td>{{ collection.submission_status}} </td>
<td>{{ collection.validation_status}} </td>
<td>{{ collection.modality}} </td>
<td>{{ collection.collection_type}} </td>
<td>{{ collection.event.event_type}} </td>
</tr>
{% endfor %}
</table>
<a href="{% url 'ingest:manage_projects' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to Manage Projects</button>
</a>
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
{% endblock %}

