{% extends 'ingest/wide.html' %}
{% load bootstrap4 %} 
{% block wide %}
<a href="{% url 'ingest:add_project_user' project.id %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Add Users to Project</button>
</a>
<a href="{% url 'ingest:manage_projects' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to Manage Projects</button>
</a>
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>
<br>
<h1>Personnel on {{project.name}}</h1>

<table id="ProjectTable" class="table">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
{% for person in allpeople %}
<tr>
 <td>{{ person.name }}</td>
</tr>
{% endfor %}
</table>

<hr>
<a href="{% url 'ingest:add_project_user' project.id %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Add Users to Project</button>
</a>
<a href="{% url 'ingest:manage_projects' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to Manage Projects</button>
</a>
<a href="{% url 'ingest:index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>

{% endblock %}

