<head>
<script></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
{% extends 'ingest/wide.html' %}
{% load bootstrap4 %} 
{% block wide %}
<h1>Personnel on {{project.name}}</h1>

<table id="ProjectTable" class="table">
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
{% for allpeople in projectpeople %}
<tr>
 <td>{{allpeople.name}}</td>
</tr>
{% endfor %}
</table>

<hr>

<a href="{% url 'ingest:pi_index' %}">
  <button class="cancel btn btn btn-primary" value="ignore" formnovalidate="">Return to PI Dashboard</button>
</a>

{% endblock %}

